@{
    ViewData["Title"] = "Sensor Data";
    ViewData["Message"] = "The data from the sensors is obtained here";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Using D3 or svg for data display</p>
